/* .listContainer {
  display: flex;
  justify-content: center;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 70px;
  height: max-content;
}

.listTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
} */

.listWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.listResult {
  margin-top: 50px;
  max-width: 1024px;
}

.list-filter-container {
  display: flex;
  gap: 20px;
  position: relative;
  width: 1024px;
  height: 100px;

  margin-top: 20px;
}

.list-dropdown {
  position: absolute;
  height: 40px;
  font-size: 18px;
  right: 0;
  top: 50%;
}

/* .listItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.listItem > label {
  font-size: 12px;
}

.listItem > input {
  height: 30px;
  border: none;
  padding: 5px;
}

.listOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.listOptionInput {
  width: 50px;
}

.listItem > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listItem > select {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listOptions {
  padding: 10px;
}

.listSearch > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
} */
