.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-search-btn-whole {
  height: 40px;
  width: 1024px;
  background-color: #ccc;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-radius: 5px;
}

.header-search-inside-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-calendar {
  display: flex;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.header-search-icon {
  color: black;
  font-weight: 500;
  margin-left: 100px;
}

.header-search-text {
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.header-search-date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.header-search-btn {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  width: 100px;
}
