.login {
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
}

.login-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-left {
  /* must edit center*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: linear-gradient(to left, #f4f4f4, #000000);
}

.login-left-logo-tagline {
  display: flex;
  flex-direction: column;
}

.login-logo-text {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.login-tagline {
  color: #f4f4f4;
}

.login-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*  */

.login-or {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-top: 40px;
}
.login-or::before,
.login-or::after {
  content: "";
  flex: 1 1;
  border-bottom: 0.5px solid #ccc;
  margin: auto;
}
.login-or::before {
  margin-right: 10px;
}
.login-or::after {
  margin-left: 10px;
}

/*  */

.login-input {
  width: 340px;
  height: 45px;
  margin-top: 40px;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}

.login-input:hover {
  border-bottom: 2px solid #ccc;
}

.login-input:focus {
  border-bottom: 2px solid #ccc;
}

.login-remember-container {
  margin-top: 15px;
}

.login-btn {
  width: 340px;
  height: 50px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #333; /* dark grey */
  color: #fff; /* white */
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login-btn:hover {
  border: 2px solid #ccc; /* medium grey */
}

.login-copyright-text {
  position: absolute;
  left: 10px;
  bottom: 0;
  color: #f4f4f4;
}

.login-signup {
  margin-top: 10px;
}

.forgot-password-input {
  width: 300px;
  height: 45px;
}

.google-login-btn {
  color: black;
  width: 340px;
  height: 50px;
  font-size: 15px;
  text-transform: capitalize;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.google-login-btn:hover {
  border: solid 2px #ccc;
}

.facebook-login-btn {
  color: black;
  width: 340px;
  height: 50px;
  font-size: 15px;
  text-transform: capitalize;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-login-btn:hover {
  border: solid 2px #ccc;
}

/* responsive */

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1230px) {
  .login-tagline {
    margin-left: 30px;
    margin-right: 50px;
  }

  .login-logo-text {
    margin-left: 30px;
  }

  .login-copyright-text {
    font-size: 1.5vw;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .login-left {
    display: none;
  }

  .login-right {
    width: 100%;
  }

  .login-copyright-text {
    color: black;
    text-align: center;
  }

  .login-or {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 340px) {
  .login-or::before,
  .login-or::after {
    margin: auto 10px;
  }

  .login-input {
    width: 90%;
  }

  .login-btn {
    width: 90%;
  }

  .google-login-btn {
    width: 90%;
  }

  .facebook-login-btn {
    width: 90%;
  }

  .login-title {
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-height: 640px) {
  .login-copyright-text {
    display: none;
  }
}
