.footer {
  display: flex;
  margin-top: 10px;
  width: 85%;
  margin-left: 50px;
}

.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-description {
  margin: 20px 0px;
}

.footer-social-container {
  display: flex;
}

.footer-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  /* background-color: #${(props) => props.color}; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.footer-center {
  flex: 1;
  padding: 20px;
  /* ${mobile({ display: "none" })} */
}

.footer-center-title {
  margin-bottom: 30px;
  margin-right: 0;
}

.footer-center-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-center-list-item {
  width: 50%;
  margin-bottom: 10px;
}

.footer-right {
  flex: 1;
  padding: 20px;
  padding-right: 0;
  margin-right: 0;
}

.footer-contact-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* .fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
} */

/* .fList{
    list-style: none;
    padding: 0;
} */

/* .fListItem{
    margin-bottom: 10px;
    color: #003560;
    cursor: pointer;
} */

/*  */

/* 
const Container = styled.div`
  
`;

const Left = styled.div`
  
`;

const Logo = styled.h1``;

const Desc = styled.p`
 
`;

const SocialContainer = styled.div`
 
`;

const SocialIcon = styled.div`
 
`;

const Center = styled.div`
 
`;

const Title = styled.h3`

`;

const List = styled.ul`

`;

const ListItem = styled.li`
  
`;

const Right = styled.div`
 
`;

const ContactItem = styled.div`

`; */
