.viewService{
    display: flex;
    width: 100%;
}

.viewServiceContainer{
    flex: 6;
}

.viewServiceContainerLeft{
    flex: 1;
}

.viewServiceContainerUpper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.viewServiceImgWrapper{
    margin-top: 20px;
    gap: 20px;
}

.viewServiceImg{
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin: 5px 0 35px 10px;
}

.viewServiceDetails{
    margin-left: 35px;
}