.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-container {
  display: flex;
  justify-content: center;
  width: 85%;
  margin-top: 10%;
}

.profile-left {
  width: 30%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-image {
  padding-left: 30px;
  width: 50%;
  height: auto;
}

.profile-section-profile-details {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
}

.profile-details-label {
  font-size: 12px;
  color: gray;
}

.profile-horizontal-line {
  width: 50%;
  height: 2px;
  background-color: gray;
}

.profile-detail-list {
  padding-left: 30px;
}

.profile-right {
  width: 60%;
  height: 100vh;
}
