.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  position: relative;
  margin-top: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
}

.navbar-logo {
  width: 200px;
  height: auto;
}

.navbar-login {
  border: 1px solid black;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.navbar-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

/* dropdown */

.profile-dropdown {
  position: relative;
  display: inline-block;
}

.profile-dropdown img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.dropdown-content span {
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content span:hover {
  background-color: #f1f1f1;
}

@media screen and (max-width: 767px) {
  .navbar-logo {
    width: 150px;
    height: auto;
  }

  .navbar-login {
    height: 25px;
    width: 75px;
    font-size: 12px;
    border-radius: 7px;
  }
}

@media screen and (max-width: 1260px) {
  .navbar-container {
    width: 90%;
  }
}

/* 
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100px;
    text-align: center;
    right: 0;
    left: -30px;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .btnLogout{
    width: 100px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #0071c2;
  }

 

.dropUsername{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: black;
} */
