.amenities {
  height: 100vh;
}

.amenities-container {
  display: flex;
  align-items: center;
  max-width: 1050px;
}

.amenities-left {
  width: 40%;
}

.amenities-left-description {
  margin-right: 50px;
}

.amenities-right {
  width: 60%;
  display: flex;
}

.amenities-left-list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
}
